<ion-content [fullscreen]="true">
  <div class="app-header">
    <div class="app-header__brand">
      <div class="app-header__icon"><ion-icon name="heart"></ion-icon></div>
      <div class="app-header__titles">
        <h1 class="font-heading">Liga Feminina</h1>
        <p>Contra o Câncer de Mama</p>
      </div>
    </div>
    <div class="app-header__badge">
      <ion-icon name="ribbon"></ion-icon> 2026
    </div>
  </div>

  <div class="banner-outubro-rosa">
    <div class="banner-outubro-rosa__text">
      <span class="banner-outubro-rosa__label">OUTUBRO ROSA</span>
      <h2 class="font-heading">Juntas pela vida</h2>
      <p>Informar · Acolher · Mobilizar · Fortalecer</p>
    </div>
    <div class="banner-outubro-rosa__icon"><ion-icon name="gift"></ion-icon></div>
  </div>

  <div class="menu-cards">
  <div class="menu-card menu-card--doacao" routerLink="/doacao"
     style="background-image: url('https://images.unsplash.com/photo-1769029269082-ff4c66d64764?w=600')">
    <div class="menu-card__icon"><ion-icon name="heart"></ion-icon></div>
    <div class="menu-card__text">
      <h3>Faça uma Doação</h3>
      <p>Contribua com nossa causa 💗</p>
    </div>
    <ion-icon class="menu-card__chevron" name="chevron-forward"></ion-icon>
  </div>

  <div class="menu-card menu-card--loja" routerLink="/loja"
     style="background-image: url('https://images.unsplash.com/photo-1521335629791-ce4aec67dd15?w=600')">
    <div class="menu-card__icon"><ion-icon name="bag"></ion-icon></div>
    <div class="menu-card__text">
      <h3>Loja Beneficente</h3>
      <p>Tênis, camisetas e guarda-chuvas</p>
    </div>
    <ion-icon class="menu-card__chevron" name="chevron-forward"></ion-icon>
  </div>

  <div class="menu-card menu-card--eventos" routerLink="/eventos"
     style="background-image: url('https://images.unsplash.com/photo-1526929804231-3de5919d43ad?w=600')">
    <div class="menu-card__icon"><ion-icon name="calendar"></ion-icon></div>
    <div class="menu-card__text">
      <h3>Eventos</h3>
      <p>Participe ou seja patrocinador</p>
    </div>
    <ion-icon class="menu-card__chevron" name="chevron-forward"></ion-icon>
  </div>
</div>

  <div class="stats" *ngIf="!carregando && estatisticas">
    <div class="stats__item">
      <h2 class="font-heading">{{ estatisticas.atendidas }}+</h2>
      <p>Atendidas</p>
    </div>
    <div class="stats__item">
      <h2 class="font-heading">{{ estatisticas.eventos_realizados }}</h2>
      <p>Eventos/ano</p>
    </div>
    <div class="stats__item">
      <h2 class="font-heading">{{ estatisticas.voluntarias }}+</h2>
      <p>Voluntárias</p>
    </div>
  </div>
</ion-content>

<app-rodape-tabs></app-rodape-tabs>