<ion-footer>
  <div class="contact-bar">
    <a href="https://www.instagram.com/ligafemininanh" target="_blank" class="contact-bar__item">
      <ion-icon name="logo-instagram"></ion-icon> @ligafemininanh
    </a>
    <span class="contact-bar__item contact-bar__item--clicavel" routerLink="/contato">
      <ion-icon name="information-circle-outline"></ion-icon> Contato
    </span>
    <span class="contact-bar__admin" routerLink="/admin-login"><ion-icon name="lock-closed-outline"></ion-icon></span>
  </div>
  <ion-tab-bar>
    <ion-tab-button routerLink="/home" routerLinkActive="tab-selected">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/doacao" routerLinkActive="tab-selected">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Doação</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/loja" routerLinkActive="tab-selected">
      <ion-icon name="bag"></ion-icon>
      <ion-label>Vendas</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/eventos" routerLinkActive="tab-selected">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>