:root {
  /* Cores da Marca */
  --ion-color-primary: #D81B60;
  --ion-color-secondary: #5E35B1;
  --ion-color-tertiary: #FF9800;
  
  /* Força fundo claro e texto escuro globalmente */
  --ion-background-color: #FAFAFA;
  --ion-text-color: #333333;
  --ion-item-background: #FFFFFF;
}

/* Sobrescreve o Dark Mode automático dos dispositivos */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #FAFAFA;
    --ion-text-color: #333333;
    --ion-item-background: #FFFFFF;
    --ion-border-color: rgba(0, 0, 0, 0.1);
  }
}